/* SideNavBar.css */
.sidebar-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    color: #fff;
    background-color: #111C43;
}

.sidebar-header a {
    text-decoration: none;
    color: #ffffff;
}

.menu-item {
    background-color: #111C43;
}

.menu-item:hover {
    background-color: #1E2A63 !important;
}

.css-16jesut>.ps-menu-button:hover {
    background-color: #0dcaf0 !important;
}

.css-1t8x7v1>.ps-menu-button:hover {
    background-color: #0dcaf0 !important;
}

.menu-item.active {
    background-color: #29356F !important;
}

.css-1tqrhto>.ps-menu-button:hover {
    background-color: #0dcaf0 !important;
    color: #f8f9fa;
}

.submenu-custom {
    background-color: #111C43;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.submenu-custom:hover {
    background-color: #111C43;
}

.submenu-custom.active {
    background-color: #29356F;
}

.submenu-item {
    background-color: #111C43;
}

.submenu-item:hover {
    background-color: #1E2A63;
}

.submenu-item.active {
    background-color: #29356F !important;
}

.submenu-link {
    color: #f8f9fa;
    text-decoration: none;
}

.css-ewdv3l ul li :hover {
    background-color: #0dcaf0 !important;
    color: #f8f9fa;
}
.css-1tqrhto >.ps-menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 35px;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 40px;
}
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0; /* Prevents flexbox from expanding unnecessarily */
    overflow-y: auto;
}
.css-wx7wi4 {
    width: 15px !important;
    min-width: 15px !important;
    margin-right: 10px !important;
}
.fRhOkl {
    padding-top: 0px !important;
}
/* .css-16jesut >.ps-menu-button {
    padding-right: 15px !important;
    padding-left: 15px !important;
} */
/* 
.sidebar-container {
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #111C43;
}

.sidebar {
    width: 80px;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    background-color: #111C43;
}

.sidebar:hover {
    width: 250px;
}

.sidebar .menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.sidebar .menu-item:hover {
    background-color: #6D78DC;

}

.sidebar .menu-item span {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.sidebar:hover .menu-item span {
    opacity: 1;
}

.sidebar .submenu-custom {
    background-color: #242F5C;
    
    display: none;
    padding-left: 20px;
}

.sidebar .menu-item.active+.submenu-custom {
    display: block;
} */